<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lunch Spots!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>
    <div class="container">
        <div class="card" id="result-card">
            <div class="card-header">
                <h1>Lunch Sp<svg width="50" height="50"><circle cx="25" cy="25" r="20" fill="white" stroke="#507983" stroke-width="4"/></svg>ts
                </h1>
            </div>
            <div class="card-body" id="result-body">
                {% for s in spots %}
                <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="{{s.photo}}"/>
                    <div class="card-body">
                        {{s.name}}
                        <a class="btn" href="{{s.link}}">GO</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>