<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Lunch Spots!!!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/main.css') }}">
</head>
<body>

    <div class="container">
        <div class="jumbotron">
            <h1>Lunch Sp<svg width="50" height="50"><circle cx="25" cy="25" r="20" fill="white" stroke="#507983" stroke-width="4"/></svg>ts
            </h1>
            <p>nearby</p>
            <img src="https://uploads-ssl.webflow.com/59417247b69baf0fb6253d53/5970d8d54aa75d6a1545072d_co-branded_logo_white.svg" alt="logo" width="400px">
            <div id="form">
                Choose Options
                <form action="/food">
                    <input type="hidden" name="lat" value="34.049001" />
                    <input type="hidden" name="lon" value="-118.258732" />
                    <select name=cat>
                    {% for k,v in categories.items() %}
                        <option value="{{k}}">{{v}}</option>        
                    {% endfor %}
                    </select>
                    <select name="price">
                        <option value="1">$</option>
                        <option value="2">$$</option>
                        <option value="3">$$$</option>
                        <option value="4">$$$$</option>
                    </select>
                    <button class="btn" type="submit">GO</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>